// [ HEADER ]
header{

	
	margin-top: 40px;
	
	h1,nav{
		margin: auto;
		width: 1200px;
	}

	h1{
		// color: $marron;
		font-size: 35px;
	}

	nav{
		
		height: 41px;
		position: relative;
		
		input#burger_checkbox{
			display: none;
		}

		input#burger_checkbox:checked ~ ul#links_nav{
			display: block;

			a{	
				border-right: none;
				border-left: none;
				padding: 20px 0 ;
			}
		}
		input#burger_checkbox:checked ~ #burger_label{

			.meat:first-child, .meat:last-child{
				width: 16px;
				margin: 10px auto 7px;
			}
			.meat:nth-child(2){ display:none; }
		}

		label#burger_label{
			
			cursor: pointer;
			display: none;
			padding: 0 10px 0 10px;
			height: 38px;

			.meat{
				background: white;
				display: block;
				position: relative;
				top: 8px;
				margin-bottom: 7px;
				width: 30px;
				height: 3px;

				// transition: width .3s ;

				&:last-child{
					margin-bottom: 0px;
				}

			}
		}

		ul{
			margin: 0;
			padding: 0;
		}

	}
}


// [ BUSCADOR ]
#capa_invisible{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
  

  display: none;



}

#search_box{
	
	margin: 0px; // Porque es section
	overflow: visible;
	right: 1px;
	position: absolute;
	z-index: 11;
	
	input[type="submit"], input[type="text"]{
		font-size: 16px;
		letter-spacing: 1.5px;
		background-color: #b9121b;
		background-image: url(../imagenes/ruido_rojo.png);
		border: 1px solid #8b0d14;
		color: white;
		padding: 10px;

		box-shadow:
			0px 1px 0px $rojo_oscuro,
			0px 2px 0px $rojo_oscuro,
			0px 3px 0px $rojo_oscuro,
			1px 3px 10px -1px rgba(0,0,0, .3);

		&:focus{
			outline: none;
		}	
	}

	input[type="text"] {
		width: 250px;
		&::-webkit-input-placeholder {
			color: white;
		}
	}

	input[type="submit"]{
		position: relative;
		cursor: pointer;
		border-left: none;
		transition: all .3s;
		top: 0px;
		
		width: 95px;

		&:hover{
			top: 3px;
			box-shadow: 0px 0px 0px transparent;
		}
	}

	svg{
		display: none;
		cursor: pointer;
		top: 0px;
		right: -2px;
		height: 30px;
		padding: 4px 0;
		cursor: pointer;
		position: absolute;
		background-image: url(../imagenes/ruido_rojo.png);
		border: 1px solid #8b0d14;
		box-shadow:
			0px 1px 0px $rojo_oscuro,
			0px 2px 0px $rojo_oscuro,
			0px 3px 0px $rojo_oscuro,
			1px 3px 10px -1px rgba(0,0,0, .3);
		margin-left: 0px;
		width: 20%;
	}
}

#type_combinado{
	display: none;
	padding: 10px;
	background-color: #4e4e4e;
	box-shadow: inset 0px -4px 0 #3e3e3e;
	color: white;
	border: 1px solid #3e3e3e;
	letter-spacing: 1px;
	margin-top: 10px;
	cursor: pointer;
	width: 345px;
}

#search_results{
	
	display: none;

	border: 1px solid #3e3e3e;
	background: #fcfae1;
	letter-spacing: 1px;
	margin-top: 10px;
	width: 365px;
	z-index: 100;
	
	.result_type{
		
		.result_type_name{
			background: #4e4e4e;
			box-shadow: inset 0px -4px 0 #3e3e3e;
			color: white;
			padding: 10px;

			a{
				display: inline-block;
				float: right;
				// text-decoration: underline;
				color:white;
				font-weight: 100;
				&:hover{
					text-decoration: underline;
				}
			}
			
		}
		
		ul.result_type_options{
			padding: 0px;
			margin: 0px;
			li{
				border-bottom: 1px solid #3e3e3e;
				cursor: pointer;
				list-style-type: none;
				font-size: 14px;
				&:last-child{
					border-bottom: none;
				}
				a{padding: 8px 8px 8px 10px;display:block;
					color: #2e2e2e;}
			}
		}
	}

	
} // FIN section#search_results


@-moz-document url-prefix() {
	#buscar{ padding: 11px !important; }
}